<div class="modal fade" id="archiveDetailModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="archiveDetailTitle"><i class="bi bi-archive me-2"></i>Архивный документ</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="archiveDetailBody">
                <div id="archiveDetailInfo" class="mb-3"></div>
                <div id="archiveDetailProducts" class="mb-3"></div>
                <div id="archiveDetailComments" class="mb-3"></div>
                <div id="archiveDetailAttachments" class="mb-3"></div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>