<div class="modal fade" id="confirmModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h6 class="modal-title"><i class="bi bi-question-circle me-2"></i>Подтверждение</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="confirmModalBody"></div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" id="confirmModalNo">Отмена</button>
                <button class="btn btn-primary" id="confirmModalYes"><i class="bi bi-check-lg me-1"></i>Да</button>
            </div>
        </div>
    </div>
</div>