<div class="modal fade" id="shopFormModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="shopFormModalLabel">Добавить магазин</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form id="shopForm" onsubmit="return false;">
                    <input type="hidden" id="shopId">
                    <div class="mb-3">
                        <label class="form-label small">Номер магазина</label>
                        <input type="text" class="form-control" id="shopNumber" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label small">SAP-код</label>
                        <input type="text" class="form-control" id="sapCode" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label small">Адрес</label>
                        <div class="fias-wrapper" style="position:relative">
                            <input type="text" class="form-control" id="shopAddress" required autocomplete="off" oninput="onAddressInput()" onblur="onAddressBlur()" onfocus="onAddressFocus()">
                            <div class="fias-suggestions dropdown-menu" id="fiasSuggestions" onmousedown="event.preventDefault()"></div>
                        </div>
                    </div>
                    <hr class="my-3">
                    <h6 class="mb-3">Контакты</h6>
                    <div class="row g-3 mb-3">
                        <div class="col-md-6">
                            <label class="form-label small">ДМ (Имя)</label>
                            <input type="text" class="form-control" id="dmName">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label small">ДМ (Телефон)</label>
                            <input type="text" class="form-control" id="dmPhone">
                        </div>
                    </div>
                    <div class="row g-3 mb-3">
                        <div class="col-md-6">
                            <label class="form-label small">АДМ1 (Имя)</label>
                            <input type="text" class="form-control" id="adm1Name">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label small">АДМ1 (Телефон)</label>
                            <input type="text" class="form-control" id="adm1Phone">
                        </div>
                    </div>
                    <div class="row g-3 mb-3">
                        <div class="col-md-6">
                            <label class="form-label small">АДМ2 (Имя)</label>
                            <input type="text" class="form-control" id="adm2Name">
                        </div>
                        <div class="col-md-6">
                            <label class="form-label small">АДМ2 (Телефон)</label>
                            <input type="text" class="form-control" id="adm2Phone">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary btn-sm" id="shopFormSaveBtn" onclick="saveShop()">Сохранить</button>
            </div>
        </div>
    </div>
</div>
